.component-grid {
  padding: 8px;
  background-color: '#FFFFFF';

  & .grid-header {

    & .grid-operation {
      float: left;
      margin-bottom: 8px;

      & .grid-operation-btn {
        margin-right: 12px;
      }
    }

    & .grid-search {
      float: right;

      & > form {
        display: inline-block;

        & > .ant-form-item {
          margin-bottom: 8px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  & .ant-table-wrapper {
    & th, & tr {
      text-align: center;
    }
  }

}
