#header {
  width: 100%;
  height: 50px;
  padding: 0;
  background-color: var(--header_bgc);

  & .trigger {
    font-size: 18px;
    line-height: 50px;
    padding: 0 16px;
    cursor: pointer;
    color: var(--text_light);
    vertical-align: top;
    transition: color .3s;

    &:hover {
      color: var(--white);
    }
  }

  & ul {
    float: right;

    & li {
      float: left;

      & a {
        display: block;
        line-height: 50px;
        font-size: .9rem;
        font-weight: bold;
        padding: 0 12px;
        color: var(--text_light);

        &:hover {
          color: var(--white);
          background-color: var(--aside_bgc);
        }
      }

      &.notice {
        & i {
          font-size: 20px;
          padding: 1px;
          margin-bottom: 5px;
        }
      }

      &.user {
        & .avatar {
          vertical-align: middle;
          margin-right: 3px;
        }
      }

      &.logout {
        & a {
          font-size: 1.1rem;
          padding: 0 18px;
        }
      }
    }
  }
}

/* 弹出层样式 */
.header-popover {
  & .ant-popover-arrow {
    &:after {
      border-bottom-color: var(--aside_bgc) !important;
    }
  }

  & .ant-popover-inner-content {
    padding: 3px 0;
    color: var(--white);
    background-color: var(--aside_bgc);

    & p {
      padding: 0 10px;
      line-height: 28px;
    }
  }
}
