#header {
  width: 100%;
  height: 50px;
  padding: 0;
  background-color: var(--header_bgc);

  & .trigger {
    font-size: 18px;
    line-height: 50px;
    padding: 0 16px;
    cursor: pointer;
    color: var(--text_light);
    vertical-align: top;
    transition: color .3s;

    &:hover {
      color: var(--white);
    }
  }

  & ul {
    float: right;

    & li {
      float: left;

      & a {
        display: block;
        line-height: 50px;
        font-size: .9rem;
        font-weight: bold;
        padding: 0 1.5rem;
        color: var(--text_light);

        &:hover {
          color: var(--white);
          background-color: var(--aside_bgc);
        }
      }

      &.user {
        & span {
          padding-left: .3rem;
        }
      }

      &.logout {
        & a {
          font-size: 1.1rem;
        }
      }
    }
  }
}
