#app {
  height: 100%;
  overflow: hidden;
  background-color: var(--main_bg);

  & #container {
    height: 100%;
    overflow: hidden;

    & #progress {
      /*display: none;*/
      position: fixed;
      z-index: 1001;
      top: 0;
      left: 0;

      & .ant-progress-inner {
        vertical-align: top;
      }
    }

    & #header {
      position: fixed;
      z-index: 2;
      width: 100%;
      height: 50px;
      background-color: var(--aside_bg);

      & h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 210px;
        line-height: 50px;
        color: var(--white);
        text-align: center;
        background-color: var(--primary_color);
      }

      & .content {
        margin-left: 210px;

        & ul {
          float: right;

          & li {
            float: left;

            & a {
              display: block;
              line-height: 50px;
              font-size: .9rem;
              font-weight: bold;
              padding: 0 1.5rem;
              color: var(--white);
            }

            &.user {
              &:hover {
                background-color: #1f2932;
              }

              & span {
                padding-left: .3rem;
              }
            }

            &.logout {
              & a {
                font-size: 1.1rem;
                background-color: #1f2932;
              }
            }
          }
        }
      }
    }

    & #wrapper {
      position: fixed;
      z-index: 1;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      padding-top: 50px;
      padding-bottom: 0;

      & #main {
        height: 100%;
        overflow: auto;
        box-sizing: border-box;
        margin-left: 210px;
        padding: .5rem;
        background-color: var(--main_bg);
      }
    }

    & #aside {
      position: fixed;
      top: 50px;
      bottom: 0;
      width: 210px;
      overflow: auto;
      box-sizing: border-box;
      background-color: var(--aside_bg);
    }
  }

  /* 登录页面 */
  & #container.unauthed {
    position: relative;
    width: 400px;
    min-width: 400px;
    height: auto;
    margin: 0 auto;
    padding-top: 300px;
    overflow: visible;

    & #header {
      position: absolute;
      width: 100%;
      height: 50px;

      & h1 {
        width: 100%;
      }

      & .content {
        display: none;
      }
    }

    & #wrapper {
      position: relative;
      width: 100%;
      box-shadow: 0 0 18px rgba(0, 0, 0, .3);
      & #main {
        width: 100%;
        margin: 0;
        padding: 1rem 0 0 0;
        background-color: var(--white);
      }

      & #aside {
        display: none;
      }
    }
  }
}
