#aside {
  width: var(--aside_width);
  /*overflow: hidden;*/
  background: var(--aside_bgc) url(/static/images/aside-bgi.png) no-repeat bottom;

  & #admin-title {
    line-height: var(--title_height);
    font-size: 16px;
    color: var(--title_color);
    text-align: center;
    background-color: var(--title_bgc);
  }

  & ul {
    border: none;
    background-color: transparent;

    &.ant-menu-inline {
      overflow-x: hidden;
    }

    & .ant-menu-submenu {
      & > .ant-menu-submenu-title {
        color: var(--text_color);
      }

      &.ant-menu-submenu-active {
        & > .ant-menu-submenu-title {
          color: var(--text_hover);
        }
      }
    }

    & .ant-menu-item {
      & > a {
        color: var(--text_color);
      }

      &.ant-menu-item-active {
        background-color: var(--aside_menu_hover);

        & > a {
          color: var(--text_hover);
        }
      }

      &.ant-menu-item-selected {
        color: var(--text_focus);
        background-color: var(--aside_menu_focus);

        &:after {
          right: auto;
          left: 0;
        }
      }
    }
  }

  & .ant-menu-vertical .ant-menu-sub {
    background-color: var(--aside_bgc);
  }

  & #aside-menus {
    position: absolute;
    top: var(--title_height);
    bottom: 0;
    padding-top: 10px;
    /*width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;*/

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: rgba(255, 255, 255, 0.2);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background-color: rgba(255, 255, 255, 0.3);
    }
    &::-webkit-scrollbar-button {
      height: 0;
      width: 0;
      background-color: transparent;
    }
  }
}
